@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik+Mono+One&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('./assets/fonts/RubikMonoOne-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: “RubikMonoOne-Regular”;
	font-size: 75px;
	color: #1d1349;
	line-height: 75px;
	margin: 0;
}
h2 {
	font-family: “RubikMonoOne-Regular”;
	font-size: 50px;
	color: #1d1349;
	line-height: 50px;
	margin: 0;
}
h3 {
	font-family: “RubikMonoOne-Regular”;
	font-size: 30px;
	color: #1d1349;
	line-height: 30px;
	margin: 0;
}
body,
a,
p,
ul li,
ol li,
span {
	font-family: “Poppins-Regular”;
	font-size: 18px;
	color: #000;
	line-height: 30px;
	background-color: #43b02a !important;
}

.bg-green-ground {
	background-color: #43b02a !important;
}

.button {
	font-family: “Poppins-Bold”;
	font-size: 18px;
	background: #1d1349;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 15px 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button:hover {
	background: #0076cf;
}
